{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"printWidth": 100,
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "html"
			}
		}
	]
}
