/* Default styles for the component */
.slds-card {
	background: #ffffff;
}

.einstein-logo {
	width: 64px;
	height: 64px;
	margin: 0 auto;
}

.einstein-logo-large {
	width: 84px;
	height: 84px;
}

.slds-box {
	background-color: #ffffff;
	border-radius: 4px;
}
